* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	transition: all 300ms;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.header {
	max-width: 100%;
	background-color: #F1F1F1;
	border-bottom: 1px solid #e5e3e3;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}	

header {
	max-width: 1200px;
	margin: 0 auto;
	background-color: #F1F1F1;
  	text-align: center;
  	padding: 30px;
}

#logo {
	color: #333333;
	font-size: 40px;
	float: left;
}

#topnav {
	overflow: hidden;
}

#topnav a {
	background-color: #444444;
	border-right: 1px solid gray;
	float: right;
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#topnav a:hover {
	background: #333333;
}

.row {
	width: 80%;
	margin: 25px auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.column {
	padding: 10px 80px;
	text-decoration: none;
}

.btn-primary {
	background-color: #38b5d8;
	border: 1px solid #38b5d8;
	border-style: outset;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.btn-primary:hover {
	background-color: #2284A1;
}

.column a {
	color: white;
	font-weight: bold;
}


.row:after {	
  	content: "";
  	display: table;
  	clear: both;
}

.btn-secondary {
	padding: 15px 30px;
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin: 0 20px;
	border-radius: 3px;
	border-style: outset;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn-start {
	border: 1px solid #6bb72d;
	background: #6bb72d;
}

.btn-start:hover {
	background: #457A1A;
}

.btn-stop {
	border: 1px solid #d82023;
	background: #d82023;
}

.btn-stop:hover {
	background: #970B0E;
}

.btn-reset {
	border: 1px solid #F7F7F7;
	background: #F7F7F7;
	color: black;
}

.btn-reset:hover {
	border: 1px solid #D0D0D0;
	background: #D0D0D0;
}



.timer {
	color: #222222;
	padding: 20px;
	text-align: center;
	font-size: 50px
}

.shortcuts {
	background: #F2F2F2;
	padding: 20px 30px;
	border: 1px ridge #ccc;
}

.bold-style {
	font-weight: bold;
}

.shortcuts ul {
	list-style: square;
}

.shortcuts ul li {
	margin: 5px 0;
}

.footer {
	position: relative;
	bottom: 0;
	left: 0;
	right: 0;
 	background-color: #444444;
  	text-align: center;
  	padding: 25px;
  	color: white;
}

@media screen and (max-width: 900px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.column {
		padding: 10px 40px;
	}

}

@media screen and (max-width: 720px) {
	

	header {
		padding: 30px;
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: center;
	}
	nav {
		margin-top: 10px;
		width: 80%;
	}
	#topnav a {
		width: 100%;
	}
}

@media screen and (max-width: 590px) {
	.row {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: center;
	}

	.column {
		padding: 10px 20px;
	}

	.btn-primary {
		margin: 0;
		font-size: 15px;
	}

	.btn-secondary {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
		padding: 15px;
		margin: 0 5px;
		font-size: 15px;
	}


}

@media screen and (max-width: 480px) {
	.row {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		margin: 20px auto;
	}

	.column {
		width: 100%;
	}
	
	.btn-primary {
		margin: 0;
		padding: 15px;
		font-size: 17px;
	}

	.btn-secondary {
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
		padding: 15px;
		margin: 0;
		margin-bottom: 5px;
		font-size: 17px;
	}


	.footer {
		position: relative;
	}
}